#footer{
    background-color: lightskyblue;
}
#aa {
    background-color: lightslategray;
}

h1 {
    color: crimson;
    background-color: darkkhaki;
    font-family: monospace;
    font-size: 300%;
}
/* je ne sais pas pourquoi ca marche pas !! : */
#hello {
position: fixed;
top: 30px;
right: 5;
color: salmon;
background-color: seagreen;
}